Flask
Flask[async]
flask-cors
requests
# http
python-dotenv
openai
groq
together

colorlog
unidecode
json5
trafilatura
json-repair

yt_dlp
youtube-transcript-api
tiktoken

newspaper3k
lxml_html_clean
bs4
PyMuPDF
py2neo
litellm>=1.21.0
crewai[tools]>=0.13.0

# openai-whisper